.wrap {
	background-image:url("back.jpg");
}
body{
	border-color: blue;
	border-style: solid;
}

.grid_8{
	margin-top: 20px;
	font-size: 40px;
}

.grid_4{
	margin-top: 20px;
}
.container_12
{
	margin-bottom: 20px;
}
nav li{
	color:white;
	display: inline;
	margin-left:0;
	margin-right: 20px;
	text-decoration: none;
}

/*ul li{
	font-size: 25px;
}*/
aside ul li{
	font-size: 30px;
	color:white;
}

article{
	margin: 0px 0;
}

.primary{
	border-color: black;
	border-style: double;
}

.main{
	margin: 10px, 0;
}
.backgroundHeaer {background-image:url("back.jpg");}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdown:hover .dropdown-content {display: block;}
